apscheduler==3.11.0
cryptography==3.4.8
flask==3.0.3
pyasn1==0.4.8
pyinstaller==6.11.1
PyQt6==6.7.1
pyjwt==2.10.1
pytest==8.3.4
pytest-qt==4.4.0
pytest-md==0.2.0
python-dotenv==0.20.0
requests==2.32.3
sqlalchemy==2.0.36
xgboost==2.1.4
joblib==1.4.2
scikit-learn==1.6.1